/*Variables paleta y medidas*/
:root {
    
    --white: #FFFFFF;
    --black: #000000;
    --background-color: #C7C7C7;
    --text-input-field: #e9e9e9;
    --button: #7f4ae7;
    --orange: #ee8860; 
    --clarito-text: #7c7979;
    --yellow: #EFBB33;
    --sm: 14px;
    --md: 16px;
    --lg: 20px;
}

/*Font*/
body{
    font-family: 'Quicksand', sans-serif;
}

/*Body*/
body {
    margin: 0;
}

/*Login*/
.pass-contenedor {
    width: 100%;
    height: 100vh; /*vh vertical y horixontal*/
    display: grid;
    place-items: center; 
    position: fixed;
    /*display: grid; place-items: center; centrar contenido*/   
    background-color: var(--button);
    /* URL de imagen 
    background-size: cover; /* ajusta la imagen para cubrir todo el contenedor
    background-position: center; centra la imagen
    background-blend-mode:overlay; mezcla el degradado con la imagen
    opacity: 0.8; ajusta la opacidad según sea necesario
    background-color: var(--orange); */
}

.form-container {
    /*3 filas -- fr: fracción*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 300px; /*pantalla responsiva*/
    background-color: var(--white);
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 20px 10px hsla(260, 14%, 8%, 0.123); /*se ajusta el color y el spread */
    animation: saltos 1s ease-out;
    position: fixed;
}


.logo {
    width: 180px;
    margin-bottom: 10px;
    justify-self: center;
}

.logo:hover {
    transform: scale(1.05);
}

.title {
    font-size: var(--lg); /*agregar variables*/
    margin-bottom: 12px;
    text-align: center;
}

.subtitle {
    color: var(--clarito-text);
    font-size: var(--md);
    margin-top: 8px;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 4px;
}

.input-password {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 15px;
}

.primary-button {
    background: linear-gradient(to bottom, #ff67b354, #80008000);
    background-color: var(--button);
    border-radius: 20px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    margin-top: 8px;
}

.primary-button:hover {
    transform: scale(1.05);
}

@keyframes saltos {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }
    40% {
        transform: translateY(0);
        opacity: 1;
    }
    55% {
        transform: translateY(-20px); /*primer salto*/
    }
    70% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-10px); /*segundo salto*/
    }
    100% {
        transform: translateY(0);
    }
}